* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--white: #f2f2f1;
	--black: #222;
	--textColor: var(--black);
	--bodyBackground: var(--white);
	--headerColor: var(--white);
	--headerBackground: rgb(57, 138, 195);
  --headerHeight: 40px;
}

body {
    font-family: sans-serif;
    color: var(--textColor);
		background: var(--bodyBackground);
}

.wrap {
    height: calc(100vh - var(--headerHeight));
}
